body {
  background-color: #38b6ff;
  text-align: center;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.formDiv {
  display: inline-block;
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#searchButton {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
