body {
  background-color: #38b6ff;
  text-align: center;
}

h1 {
  text-align: center;
}

.formDiv {
  display: inline-block;
  text-align: center;
}

#searchButton {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
