body {
  background-color: #38b6ff;
  text-align: center;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.images {
    width:  150px;
    height: auto;
    object-fit: cover;
}

.formDiv {
  display: inline-block;
  text-align: center;
}

.column {
  float: left;
  width: 25%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


#startButton {
    color: #962547;
    font-size: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#searchButton {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
