<!DOCTYPE html>
<html>

<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>

<body>
  <h1>DELETE A BOOK</h1>
  
  	<div class="formDiv">
      <form action="" method="post" name="form">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title"/><br><br>
        <label for="author">Author:</label>
        <input type="text" name="author" id="author"/><br><br>
        <input type="submit" value="DELETE" name="delete2" id="submit"/>
      </form>
    </div>
  
</body>
</html>
