<!DOCTYPE html>
<html>

<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>

<body>
	<h1>WELCOME</h1>
	<div class="formDiv">
		<form action="" method="post" name="form">
			<input type="text"name="search" id="search"/>
			<input id="searchButton" type="submit" value="🔎︎" name="search" id="submit"/>
			<br>
			<br>
			<p>Not finding what you're looking for?</p>
			<input type="submit" value="ADD BOOK" name="action" id="submit"/>
			<br>
			<br>
			<!--
			<input type="submit" value="DELETE BOOK" name="action" id="submit"/>
			-->
		</form>
	</div>
	
	<div class="coverDiv">
		<img src="{{url_for('static', filename='1984.jpg')}}" align="left" />
		<img src="{{url_for('static', filename='bnw.jpg')}}" align="center" />
	</div>	
	
</body>

</html>
