<!DOCTYPE html>
<html>

<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>

<body>
	<br>
	<br>
	<div class="formDiv">
		<form action="" method="post" name="form">
			<input type="text" name="search" placeholder="Search" id="search"/>
			<input id="searchButton" type="submit" value="🔎︎" name="search" id="submit"/>
			<br>
			<br>
			<p>Not finding what you're looking for?</p>
			<input type="submit" value="ADD BOOK" name="action" id="submit"/>
			<br>
			<br>
		</form>
	</div>
	
	<div class="row">
	  <div class="column">
	    <img src="{{url_for('static', filename='1984.jpg')}}" class="images"/> 
	  </div>
	  <div class="column">
	    <img src="{{url_for('static', filename='newworld.jpg')}}" class="images"/>
	  </div>
	  <div class="column">
	   <img src="{{url_for('static', filename='f451.jpg')}}" class="images"/> 
	  </div>
	  <div class="column">
	   <img src="{{url_for('static', filename='martian.jpg')}}" class="images"/> 
	  </div>
	</div>

	{% if message %}
	<p id="text">{{ message }}</p>
	{% endif %}
	
</body>

</html>
