<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css">
</head>

<body>
	<form action="" method="post" name="form">
	<label for="username">Username:</label>
	<input type="text" name="username" id="username"/><br><br>
	<label for="password">Password:</label>
	<input type="text" name="password" id="password"/><br><br>
	<label for="branch" id="branch">
	<select name="branch" id="branch">
		<option value="central">Central Library</option>
		<option value="central">Piershill Library</option>
		<option value="central">Portobello Library</option>
	</select><br><br>
	<input type="submit" name="login" id="submit"/>
	</form>
</body>

</html>